* {
    box-sizing: 0;
}

header, main, aside, footer {
    background-color: rgb(24, 24, 27);
    font-size: auto;
    margin-bottom: 5px;
    padding: 5px;
    color: white;
}

header img {
    width: 250px;
    height: 310px;
}

header {
    height: auto;
    text-align: center;
}

main, aside {
    min-height: 450px;
}

main {
    width: 76%;
    float: right;
}

section {
    margin-top: 20px;
    width: auto;
    min-height: 200px;
    background-color: rgb(35, 35, 39);
}

aside {
    min-width: 17%;
    float: left;
    text-align: center;
}

a {
    color: white;
}

footer {
    clear: both;
    height: 100%;
    text-align: center;
}