* {
    box-sizing: border-box; 
  }

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(12, 12, 15);
}

div {
    font-size: 1.5rem;
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    margin-bottom: 5px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
}

header, main, section, aside, footer {
    background-color: rgb(12, 12, 15);
    font-size: 16px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid rgb(255, 255, 255);
    color: white;
}

header {
    background-image: url(https://media.giphy.com/media/aRZ4vTsHnyW6A/giphy.gif);
    text-align: center;
}

header img {
    width: 200px;
    border-radius: 50%;
}

main, aside {
    min-height: 200px;
}

main {
    width: 80%;
    float: right;
}

section {
    width: auto;
    min-height: 200px;
    background-color: rgb(19, 17, 17);
}

aside {
    width: 20%;
    float: left;
    text-align: center;
}

a {
    line-height: 2.2;
}

footer {
    clear: both;
    text-align: center;
}